[submodule "3rdparty/GLFW"]
	path = 3rdparty/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/freetype"]
	path = 3rdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "3rdparty/cglm"]
	path = 3rdparty/cglm
	url = https://github.com/recp/cglm.git
[submodule "3rdparty/LibreDWG"]
	path = 3rdparty/LibreDWG
	url = https://github.com/LibreDWG/libredwg.git
